<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Object Creator</title>
</head>
<body>
<h2>New Author</h2>
<form th:action="@{/saveAuthor}" th:object="${author}" method="post">
    <div>
        <label>First Name</label>
        <input type="text" class="form-control" th:field="*{firstName}">
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" class="form-control" th:field="*{lastName}">
    </div>
    <div>
        <input type="submit" value="Create Author">
    </div>
</form>
<a th:href="@{/authors}">View Author List</a>
</body>
</html>